main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-container{
    height: fit-content;
    min-width: 400px;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input{
            border: none;
            outline: none;
            padding-left: 1rem;
            padding-inline: 1.5 rem;
            padding-block: 1rem;
            border-radius: 1rem;
        }

        button{
            background-color: #c41d1d;
            color: azure;
            padding-inline: 1.5 rem;
            padding-block: 1rem;
            border-radius: 1rem;
            cursor: pointer;
        }
    }

    .toggle-auth-form{
        text-decoration: none;
        color: #c41d1d;
    }

    h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }


}