*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body,#root{
    height: 100%;
    width: 100%;
}

html{
    background-color: rgb(37, 36, 36);
    color: bisque;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}